{% extends "base.html" %}

{% block page_content %}
<div class="page-header">
    <h1>Resources</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Resource</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Calorie Tracking</td>
            <td>Tracking calories using a nutrition database</td>
        </tr>
        <tr>
            <td>Recipes</td>
            <td>Recipes I like and associated ingredients and calorie list</td>
        </tr>
        <tr>
            <td>Analytics</td>
            <td>Visualizations and analytics</td>
        </tr>
    </tbody>
</table>

{% endblock %}
