{% extends "bootstrap/base.html" %}

<title>{% block title %}{% endblock %} - Josh Feldman</title>

{% block navbar %}
  <div class="navbar navbar-fixed-top" role="navigation">
    <ul class="navbar-collapse collapse">
      {% if g.user %}
        <li><span>{{ g.user['username'] }}</span>
        <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
      {% else %}
        <li><a href="{{ url_for('auth.login') }}">Log In</a>
      {% endif %}
    </ul>
  </div>
{% endblock %}

{% block content %}
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block page_content %}{% endblock %}
{% endblock %}
